body {
	margin: 0;
    font-family: 'Open Sans', sans-serif; /*ändrat*/
}

.wrap {
	margin: 0 auto;
	width: 900px;
	height: 100%;
	display: block;
	position: relative;
	
}

h1{
	margin:0 auto;
	width: 100px;
	text-align: center;	
}

/*-------the cloud-----*/

.cloud {
	margin: 0 auto;
	margin-left: -50px;
	top: 300px;
	left: 50%;
	position: fixed;
	z-index: 15;
    width: 150px;
}



/*---------------------------images in the background--------------------------*/

.clouds_regular img, .cloud_hail img, .hail img, .cloud_worried img, .house_row img, .firsttown img, .firsttown img, .waves img, .mountain img, .trees_row img, .cloud_stretch img, .trees_part1 img, .trees_part2 img, .cottage img, .town img, .cloud_boat img {
    position: absolute;
}


/*----regular clouds----*/

.clouds_regular img:nth-child(1){
	top: 50%;
	left: 70%; 
	display: block;
}

.clouds_regular img:nth-child(2){
	top: 400px;
	left: 0;
	height: 200px;
	opacity: 0.5;
}

.clouds_regular img:nth-child(3){top: 20%;right: 0;}

.clouds_regular img:nth-child(4){top: 20%;left: 10%;}

/*----clouds hail----*/

.cloud_hail img:nth-child(1) {top: 10%;left: 60%;}

.cloud_hail img:nth-child(2) {top: 25%;left: 20%;}

.cloud_hail img:nth-child(3) {top: 5%;left: 40%;}

/*-------Hail---------*/





/*---------clouds worried-------*/

.cloud_worried img:nth-child(1) {top: 55%;left: 60%;}

.cloud_worried img:nth-child(2) {top: 40%;left: 5%;}

.cloud_worried img:nth-child(3) {top: 40%;left: 65%;}

.cloud_worried img:nth-child(4) {
    transform: scale(0.6);
	top: 55%;
	left: 5%;
}

/*---House row---*/

.house_row img:nth-child(1) {
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

/*----First town----*/

.firsttown img:nth-child(1){top:5%; left:80%;}

.firsttown img:nth-child(2){top:5%;}

.firsttown img:nth-child(3){top:10%;left:80%;}

.firsttown img:nth-child(4){top:10%;}

.firsttown img:nth-child(5){top:15%;left:80%;}

.firsttown img:nth-child(6){top:15%;}

.firsttown img:nth-child(7){top:20%;}

.firsttown img:nth-child(8){top:20%;left:80%;}

.firsttown img:nth-child(9){top:25%;}

.firsttown img:nth-child(10){top:25%;left:80%;}

.firsttown img:nth-child(11){top:30%;}

.firsttown img:nth-child(12){top:30%;left:80%;}

.firsttown img:nth-child(13){top:35%;}

.firsttown img:nth-child(14){top:35%;left:80%;}

.firsttown img:nth-child(15){top:40%;}

.firsttown img:nth-child(16){top:40%;left:80%;}

.firsttown img:nth-child(17){top:45%;}

.firsttown img:nth-child(18){top:45%;left:80%;}

/*---------ROW2-------*/
.firsttown img:nth-child(19){top:5%;left:70%;}

.firsttown img:nth-child(20){top:5%;right:80%;}

.firsttown img:nth-child(21){top:10%;left:70%;}

.firsttown img:nth-child(22){top:10%;right:80%;}

.firsttown img:nth-child(23){top:15%;left:70%;}

.firsttown img:nth-child(24){top:15%;right:80%;}

.firsttown img:nth-child(25){top:20%;right:80%;}

.firsttown img:nth-child(26){top:20%;left:70%;}

.firsttown img:nth-child(27){top:25%;right:80%;}

.firsttown img:nth-child(28){top:25%;left:70%;}

.firsttown img:nth-child(29){top:30%;right:80%;}

.firsttown img:nth-child(30){top:30%;left:70%;}

.firsttown img:nth-child(31){top:35%;right:80%;}

.firsttown img:nth-child(32){top:35%;left:70%;}

.firsttown img:nth-child(33){top:40%;right:80%;}

.firsttown img:nth-child(34){top:40%;left:70%;}

.firsttown img:nth-child(35){top:45%;right:80%;}

.firsttown img:nth-child(36){top:45%;left:70%;}

/*-----Waves-----*/

.waves img:nth-child(1) {
	top: 0%;
	left: 0%;
	opacity: 0.4;
}

.waves img:nth-child(2) {
	top: 20%;
	left: 15%;
	opacity: 0.4;
}

.waves img:nth-child(3) {
	top: 45%;
	left: 0%;
	opacity: 0.4;
}

.waves img:nth-child(4) {
	top: 70%;
	left: 15%;
	opacity: 0.4;
}

.waves img:nth-child(5) {
	top: 0%;
	left: 65%;
	opacity: 0.4;
}

.waves img:nth-child(6) {
	top: 20%;
	left: 70%;
	opacity: 0.6;
}

.waves img:nth-child(7) {
	top: 45%;
	left: 70%;
	opacity: 0.4;
}

.waves img:nth-child(8) {
	top: 70%;
	left: 70%;
	opacity: 0.4;
}

/*--Cloud boat--*/
.cloud_boat img:nth-child(1){
	top: 30%;
	left: 30%;
}

/*-------mountain------*/ /*FLYTTAD Hanna 9/10*/

.mountain img:nth-child(1){
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

/*--trees together--*/
.trees_row:nth-child(1) {z-index: 30;}

.trees_row:nth-child(2) {z-index: 30;}

.row:nth-child(1) img {bottom:50px;}

.row:nth-child(2) img {bottom:0;}

.row:nth-child(1) img:nth-child(1) {left: 0;}

.row:nth-child(1) img:nth-child(2) {left: 7%;}

.row:nth-child(1) img:nth-child(3) {left: 15%;}

.row:nth-child(1) img:nth-child(4) {left: 25%;}

.row:nth-child(1) img:nth-child(5) {left: 31%;}

.row:nth-child(1) img:nth-child(6) {left: 36%;}

.row:nth-child(1) img:nth-child(7) {left: 47%;}

.row:nth-child(1) img:nth-child(8) {left: 55%;}

.row:nth-child(1) img:nth-child(9) {left: 59%;}

.row:nth-child(1) img:nth-child(10) {left: 63%;}

.row:nth-child(1) img:nth-child(11) {left: 66%;}

.row:nth-child(1) img:nth-child(12) {left: 70%;}

.row:nth-child(1) img:nth-child(13) {left: 79.5%;}


.row:nth-child(2) img:nth-child(1) {left: 3%;}

.row:nth-child(2) img:nth-child(2) {left: 10%;}

.row:nth-child(2) img:nth-child(3) {left: 20%;}

.row:nth-child(2) img:nth-child(4) {left: 29%;}

.row:nth-child(2) img:nth-child(5) {left: 39%;}

.row:nth-child(2) img:nth-child(6) {left: 48%;}

.row:nth-child(2) img:nth-child(7) {left: 58%;}

.row:nth-child(2) img:nth-child(8) {left: 67%;}

.row:nth-child(2) img:nth-child(9) {left:  79.5%;}

/*---cloud stretch---*/
.cloud_stretch img:nth-child(1) {top: 18%;left: 10%;}

.cloud_stretch img:nth-child(2) {top: 10%;left: 65%;}

.cloud_stretch img:nth-child(3) {top: 50%;left: 50%;}

.cloud_stretch img:nth-child(4) {top: 80%;left: 27%;}

/*---------trees-------*/

.trees_part1 img:nth-child(1) {top: 15%;left: 0%;}

.trees_part1 img:nth-child(2) {top: 40%;left: 50%;}

.trees_part1 img:nth-child(3) {top: 20%;left: 7%;}

.trees_part1 img:nth-child(4) {top: 70%;left: 5%;}

.trees_part1 img:nth-child(5) {top: 5%;left: 75%;}

.trees_part1 img:nth-child(6) {top: 50%;left: 45%;}

.trees_part1 img:nth-child(7) {top: 25%;left: 79%;}

.trees_part1 img:nth-child(8) {top: 75%;left: 30%;}

.trees_part1 img:nth-child(9) {top: 45%;left: 62%;}

.trees_part1 img:nth-child(10) {top: 60%;left: 79%;}

.trees_part1 img:nth-child(11) {top: 63%;left: 75%;}

.trees_part1 img:nth-child(12) {top: 85%;left: 20%;}

.trees_part1 img:nth-child(13) {top: 40%;left: 10%;}

.trees_part1 img:nth-child(14) {top: 13%;left: 48%;}

/*-------Majas trees-----------*/ /*ändrat Hanna 9/10*/

.trees_part2 img:nth-child(1){top:2%;left:15%;}

.trees_part2 img:nth-child(2){top:40%;left:55%;}

.trees_part2 img:nth-child(3){top:10%;left:80%;}

.trees_part2 img:nth-child(4){top:60%;left:5%;}

/*-------Majas houses-----*/ /*ändrat Hanna 9/10*/

.cottage img:nth-child(1){top:50%;left:30%;}

.cottage img:nth-child(2){top:15%;left:60%; }

.cottage img:nth-child(3){top:36%;left:10%;	}

.cottage img:nth-child(4){top:70%;left:80%;}

.cottage img:nth-child(5){top: 28%;left: 38%}

.cottage img:nth-child(6){top: 47%;left: 87%}

/*-------town------*/

.town img:nth-child(1){
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

.town img:nth-child(2){
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

/*------------------------background colors----------------------*/

.part {overflow: hidden;}

.part:nth-child(1){
	width: 100%;
	height: 2000px;
	background-image: -webkit-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -o-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
}

.part:nth-child(2) {
    width: 100%;
    height: 2000px;
    background-color: #355C68 ;
    /*
    background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    */
    /*background: black;*/
}

.part:nth-child(3) {
	width: 100%;
	height: 5000px;
	background-color: #d6bf80;
	background-image: -webkit-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -o-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
}

.part:nth-child(4) {
    width: 100%;
    height: 600px;
    background-color: rgb(7, 66, 95);
    background-image: -webkit-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: -o-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
}

.part:nth-child(5) {
    width: 100%;
    height: 1500px;
    background-color:#6BB9D1 ;
    /*
    background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    */
}

.part:nth-child(6){
   width: 100%;
   height: 900px;
   background-color: #d6bf80  ;
   background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
}

.part:nth-child(7) {
   width: 100%;
   height: 2000px;
   background-color: #168f1e ;
   background-image: -webkit-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 100%);
   background-image: -moz-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
   background-image: -o-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
   background-image: -ms-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
   background-image: linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
}

.part:nth-child(8) {
   width: 100%;
   height: 1500px;
   background-color: #865009 ;
   background-image: -webkit-linear-gradient(bottom, rgb(134, 80, 9)60%, rgb(22, 143, 30) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
    background-image: -o-linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
    background-image: linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
}

.part:nth-child(9) {
   width: 100%;
   height: 1200px;
   background-color: #83d178 ;
   background-image: -webkit-linear-gradient(bottom, rgb(131, 209, 120) 20%, rgb(134, 80, 9)100%);
    background-image: -moz-linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
    background-image: -o-linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
    background-image: linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
}

.part:nth-child(10) {
   width: 100%;
   height: 2000px;
   background-color: #6BB9D1 ;
    /*
   background-image: -webkit-linear-gradient(bottom, rgb(107, 185, 209) 50%, rgb(131, 209, 120) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    background-image: -o-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    background-image: linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    */
}

.part:nth-child(11) {
   width: 100%;
   height: 600px;
   background-color: #6BB9D1 ;
   /*
    background-image: -webkit-linear-gradient(bottom, rgb(107, 185, 209) 100%,rgb(107, 185, 209) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    background-image: -o-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    background-image: linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    */
}


/*----text end-----*/
/*hanna 13/10*/

.part:nth-child(11) article {
	margin: 0 auto;
	width: 60%;
	padding: 20px;
}

.part:nth-child(11) h2 {
	margin:0 auto;
	width: 100px;
}

.part:nth-child(11) p {
    text-align: center;
}

.part:nth-child(11) ul {
    list-style-type: none;
}

.part:nth-child(11) li {
    text-align: center;
    padding: 10px;
}

.part:nth-child(11) a {
    text-decoration: none;
    color: black;
}

/*-----footer------*/


footer {
	width: 100%;
	height: 400px;
	background-color: green;	
}

footer h3 {
    margin: 0 auto ;
    text-align: center;
    padding: 20px;
}

footer p {
	margin: 0 auto;
	text-align: center;
    width: 60%; 
}

footer ul {
    list-style-type: none;
    text-align: center;
}

footer li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

/*end hanna 13/10*/

.hail img:nth-child(1) {top:0%; left: -121%;  margin-top: -50%;}

.hail img:nth-child(2) {top:0%; left: -90%; margin-top: -50%;}

.hail img:nth-child(3) {top:0%; left: -59%; margin-top: -50%;}

.hail img:nth-child(4) {top:0%; left: -28%; margin-top: -50%;}

.hail img:nth-child(5) {top:0%; left: 3%; margin-top: -50%; }



.hej {
    z-index: 100;

}

.hail {
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    transform:rotate(-45deg);
}