body {
	margin: 0;
}

.wrap {
	margin: 0 auto;
	width: 900px;
	height: 100%;
	display: block;
	position: relative;
	
}

h1{
	margin:0 auto;
	width: 100px;
	text-align: center;	
}

/*-------the cloud-----*/

.cloud {
	margin: 0 auto;
	margin-left: -50px;
	top: 300px;
	left: 50%;
	position: fixed;
	z-index: 15;
}



/*---------------------------images in the background--------------------------*/


/*----regular clouds----*/
.clouds_regular img:nth-child(1){
	position: absolute;
	top: 50%;
	left: 70%; 
	display: block;
}

.clouds_regular img:nth-child(2){
	position: absolute;
	top: 400px;
	left: 200px;
	height: 200px;
	opacity: 0.5;
}

.clouds_regular img:nth-child(3){
	position: absolute;
	top: 20%;
	left: 60%;
}

.clouds_regular img:nth-child(4){
	position: absolute;
	top: 20%;
	left: 10%;
}

/*----clouds hail----*/

.cloud_hail img:nth-child(1) {
	position: absolute;
	top: 10%;
	left: 60%;
}

.cloud_hail img:nth-child(2) {
	position: absolute;
	top: 25%;
	left: 20%;
}
.cloud_hail img:nth-child(3) {
	position: absolute;
	top: 5%;
	left: 40%;
}

/*-------Hail---------*/

.hail img:nth-child(1) {
	position: absolute;
	top:20%
	left 10%;
}

.hail img:nth-child(2) {
	position: absolute;
	left: 70%;
	top: 30%;
}

.hail img:nth-child(3) {
	position: absolute;
	left: 20%;
	top: 40%;
}

/*---------clouds worried-------*/

.cloud_worried img:nth-child(1) {
	position: absolute;
	top: 55%;
	left: 60%;
}

.cloud_worried img:nth-child(2) {
	position: absolute;
	top: 40%;
	left: 5%;
}

.cloud_worried img:nth-child(3) {
	position: absolute;
	top: 40%;
	left: 65%;
}

.cloud_worried img:nth-child(4) {
	transform: scale(0.6);
	position: absolute;
	top: 55%;
	left: 5%;
}

/*---House row---*/

.house_row img:nth-child(1) {
	position: absolute;
	top: -5%;
	left: 0;
	width: 100%;
	z-index: 20;
}

/*----First town----*/

.firsttown img:nth-child(1){
    position:absolute;
    top:5%;
    left:80%;
}

.firsttown img:nth-child(2){
    position:absolute;
    top:5%;
}

.firsttown img:nth-child(3){
    position:absolute;
    top:10%;
    left:80%;
}

.firsttown img:nth-child(4){
    position:absolute;
    top:10%;
}

.firsttown img:nth-child(5){
    position:absolute;
    top:15%;
    left:80%;
}

.firsttown img:nth-child(6){
    position:absolute;
    top:15%;
}

.firsttown img:nth-child(7){
    position:absolute;
    top:20%;
}

.firsttown img:nth-child(8){
    position:absolute;
    top:20%;
    left:80%;
}

.firsttown img:nth-child(9){
    position:absolute;
    top:25%;
}

.firsttown img:nth-child(10){
    position:absolute;
    top:25%;
    left:80%;
}

.firsttown img:nth-child(11){
    position:absolute;
    top:30%;
}

.firsttown img:nth-child(12){
    position:absolute;
    top:30%;
    left:80%;
    
}

.firsttown img:nth-child(13){
    position:absolute;
    top:35%;
    
}

.firsttown img:nth-child(14){
    position:absolute;
    top:35%;
    left:80%;
}

.firsttown img:nth-child(15){
    position:absolute;
    top:40%;
}

.firsttown img:nth-child(16){
    position:absolute;
    top:40%;
    left:80%;
}

.firsttown img:nth-child(17){
    position:absolute;
    top:45%;
}

.firsttown img:nth-child(18){
    position:absolute;
    top:45%;
    left:80%;
}

/*---------ROW2-------*/
.firsttown img:nth-child(19){
    position:absolute;
    top:5%;
    left:70%;
}

.firsttown img:nth-child(20){
    position:absolute;
    top:5%;
    right:80%;
}

.firsttown img:nth-child(21){
    position:absolute;
    top:10%;
    left:70%;
}

.firsttown img:nth-child(22){
    position:absolute;
    top:10%;
    right:80%;
}

.firsttown img:nth-child(23){
    position:absolute;
    top:15%;
    left:70%;
}

.firsttown img:nth-child(24){
    position:absolute;
    top:15%;
    right:80%;
}

.firsttown img:nth-child(25){
    position:absolute;
    top:20%;
    right:80%;
}

.firsttown img:nth-child(26){
    position:absolute;
    top:20%;
    left:70%;
}

.firsttown img:nth-child(27){
    position:absolute;
    top:25%;
    right:80%;
}

.firsttown img:nth-child(28){
    position:absolute;
    top:25%;
    left:70%;
    
}
.firsttown img:nth-child(29){
    position:absolute;
    top:30%;
    right:80%;
}

.firsttown img:nth-child(30){
    position:absolute;
    top:30%;
    left:70%;
}

.firsttown img:nth-child(31){
    position:absolute;
    top:35%;
    right:80%;
}

.firsttown img:nth-child(32){
    position:absolute;
    top:35%;
    left:70%;
    
}

.firsttown img:nth-child(33){
    position:absolute;
    top:40%;
    right:80%;
}

.firsttown img:nth-child(34){
    position:absolute;
    top:40%;
    left:70%;
    
}

.firsttown img:nth-child(35){
    position:absolute;
    top:45%;
    right:80%;
}

.firsttown img:nth-child(36){
    position:absolute;
    top:45%;
    left:70%;
}

/*-----Waves-----*/

.waves img:nth-child(1) {
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.4;
}

.waves img:nth-child(2) {
	position: absolute;
	top: 20%;
	left: 15%;
	opacity: 0.4;
}

.waves img:nth-child(3) {
	position: absolute;
	top: 45%;
	left: 0%;
	opacity: 0.4;
}

.waves img:nth-child(4) {
	position: absolute;
	top: 70%;
	left: 15%;
	opacity: 0.4;
}

.waves img:nth-child(5) {
	position: absolute;
	top: 0%;
	left: 65%;
	opacity: 0.4;
}

.waves img:nth-child(6) {
	position: absolute;
	top: 20%;
	left: 70%;
	opacity: 0.6;
}

.waves img:nth-child(7) {
	position: absolute;
	top: 45%;
	left: 70%;
	opacity: 0.4;
}

.waves img:nth-child(8) {
	position: absolute;
	top: 70%;
	left: 70%;
	opacity: 0.4;
}

/*--Cloud boat--*/
.cloud_boat img:nth-child(1){
	position: absolute;
	top: -30%;
	left: 30%;
}

/*-------mountain------*/ /*FLYTTAD Hanna 9/10*/

.mountain img:nth-child(1){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

/*---cloud stretch---*/
.cloud_stretch img:nth-child(1) {
    position: absolute;
    top: 18%;
    left: 10%;
}

.cloud_stretch img:nth-child(2) {
    position: absolute;
    top: 10%;
    left: 65%;
}

.cloud_stretch img:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
}

.cloud_stretch img:nth-child(4) {
    position: absolute;
    top: 80%;
    left: 27%;
}

/*---------trees-------*/

.trees_part1 img:nth-child(1) {
	position: absolute;
	top: 15%;
	left: 0%;
}
.trees_part1 img:nth-child(2) {
	position: absolute;
	top: 40%;
	left: 50%;
}
.trees_part1 img:nth-child(3) {
    position: absolute;
    top: 20%;
    left: 7%;
}
.trees_part1 img:nth-child(4) {
    position: absolute;
    top: 70%;
    left: 5%;
}
.trees_part1 img:nth-child(5) {
    position: absolute;
    top: 5%;
    left: 75%;
}
.trees_part1 img:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 45%;
}
.trees_part1 img:nth-child(7) {
    position: absolute;
    top: 25%;
    left: 79%;
}
.trees_part1 img:nth-child(8) {
    position: absolute;
    top: 75%;
    left: 30%;
}
.trees_part1 img:nth-child(9) {
    position: absolute;
    top: 45%;
    left: 62%;
}
.trees_part1 img:nth-child(10) {
    position: absolute;
    top: 60%;
    left: 79%;
}
.trees_part1 img:nth-child(11) {
    position: absolute;
    top: 63%;
    left: 75%;
}
.trees_part1 img:nth-child(12) {
    position: absolute;
    top: 85%;
    left: 20%;
}
.trees_part1 img:nth-child(13) {
    position: absolute;
    top: 40%;
    left: 10%;
}

.trees_part1 img:nth-child(14) { /*ändrat Hanna 9/10*/
    position: absolute;
    top: 13%;
    left: 48%;
}

/*-------Majas trees-----------*/ /*ändrat Hanna 9/10*/

.trees_part2 img:nth-child(1){
	position:absolute;
	top:2%;
    left:15%;
}

.trees_part2 img:nth-child(2){
	position:absolute;
	top:40%;
	left:55%;
}

.trees_part2 img:nth-child(3){
	position:absolute;
	top:10%;
	left:80%;
}

.trees_part2 img:nth-child(4){
	position:absolute;
	top:60%;
    left:5%;
}

/*-------Majas houses-----*/ /*ändrat Hanna 9/10*/

.cottage img:nth-child(1){
	position:absolute;
	top:50%;
	left:30%;
}

.cottage img:nth-child(2){
	position:absolute;
	top:15%;
	left:60%; 
}

.cottage img:nth-child(3){
	position:absolute;
	top:36%;
    left:10%;	
}

.cottage img:nth-child(4){
	position:absolute;
	top:70%;
    left:80%;
}

.cottage img:nth-child(5){
    position: absolute;
    top: 28%;
    left: 38%
}

.cottage img:nth-child(6){
    position: absolute;
    top: 47%;
    left: 87%
}

/*-------town------*/

.town img:nth-child(1){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

.town img:nth-child(2){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

/*------------------------background colors----------------------*/
.part:nth-child(1){
	width: 100%;
	height: 2000px;
	background-image: -webkit-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -o-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
}

.part:nth-child(2) {
    width: 100%;
    height: 2000px;
    background-color: #355C68 ;
    background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
}

.part:nth-child(3) {
	width: 100%;
	height: 3000px;
	background-color: #d6bf80;
	background-image: -webkit-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -o-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
}

.part:nth-child(4) {
    width: 100%;
    height: 600px;
    background-color: rgb(7, 66, 95);
    background-image: -webkit-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: -o-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
    background-image: linear-gradient(bottom, rgb(107, 185, 209) 1%, rgb(7, 66, 95) 100%);
}

.part:nth-child(5) {
    width: 100%;
    height: 600px;
    background-color:#6BB9D1 ;
    background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
    background-image: linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(107, 185, 209) 60%);
}

.part:nth-child(6){
   width: 100%;
   height: 900px;
   background-color: #d6bf80  ;
   background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
   background-image: linear-gradient(bottom, rgb(214, 191, 128) 6%, rgb(214, 191, 128) 60%);
}

.part:nth-child(7) {
   width: 100%;
   height: 2000px;
   background-color: #168f1e ;
   background-image: -webkit-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 100%);
   background-image: -moz-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
   background-image: -o-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
   background-image: -ms-linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
   background-image: linear-gradient(bottom, rgb(22, 143, 30) 6%, rgb(214, 191, 128) 60%);
}

.part:nth-child(8) {
   width: 100%;
   height: 900px;
   background-color: #865009 ;
   background-image: -webkit-linear-gradient(bottom, rgb(134, 80, 9)60%, rgb(22, 143, 30) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
    background-image: -o-linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
    background-image: linear-gradient(bottom, rgb(134, 80, 9) 100%, rgb(22, 143, 30) 100%);
}

.part:nth-child(9) {
   width: 100%;
   height: 1200px;
   background-color: #83d178 ;
   background-image: -webkit-linear-gradient(bottom, rgb(131, 209, 120) 20%, rgb(134, 80, 9)100%);
    background-image: -moz-linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
    background-image: -o-linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
    background-image: linear-gradient(bottom, rgb(131, 209, 120) 100%, rgb(134, 80, 9) 100%);
}

.part:nth-child(10) {
   width: 100%;
   height: 600px;
   background-color: #6BB9D1 ;
   background-image: -webkit-linear-gradient(bottom, rgb(107, 185, 209) 50%, rgb(131, 209, 120) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    background-image: -o-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
    background-image: linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(131, 209, 120) 100%);
}

.part:nth-child(11) {
   width: 100%;
   height: 600px;
   background-color: #6BB9D1 ;
   background-image: -webkit-linear-gradient(bottom, rgb(107, 185, 209) 100%,rgb(107, 185, 209) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    background-image: -o-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
    background-image: linear-gradient(bottom, rgb(107, 185, 209) 100%, rgb(107, 185, 209) 100%);
}

footer {
	width: 100%;
	height: 50px;
	background-color: green;	
}

/*----text end-----*/

.part:nth-child(11) article {
	margin: 0 auto;
	width: 600px;
	padding: 20px;
	
}

.part:nth-child(11) h2 {
	margin:0 auto;
	width: 100px;
}

/*-----footer------*/

footer p {
	margin: 0 auto;
	text-align: center;
}