body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	color: #f2f9f8;
  font-weight: 300;
}

.wrap {
	margin: 0 auto;
	width: 900px;
	height: 100%;
	display: block;
	position: relative;
	/*background-color: aqua;*/
}

h1{
	margin:0 auto;
	width: 100%;
	text-align: center;	
	padding-top: 5%;
	font-size: 4em;
}

a {color: #fff;}

a:hover{color: #ea9c68; transition: 0.3s;}

/*------popuptext-----*/

.popuptext1, .popuptext2, .popuptext3, .popuptext4, .popuptext5, .popuptext6, .popuptext7, .popuptext8, .popuptext9, .popuptext10 {
	background-color: #fff;
	color: #18717a;
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 6px;
	z-index: 999;
}

.popuptext1 p, .popuptext2 p, .popuptext3 p, .popuptext4 p, .popuptext5 p, .popuptext6 p, .popuptext7 p, .popuptext8 p, .popuptext9 p, .popuptext10 p{
	padding: 25px 20px;
	margin: 0;
}

.popuptext1 {top: 5%; float: right;}

.popuptext2 {top: 60%;}

.popuptext3 {top: 20%; float: right;}

.popuptext4 {top: 4%;}

.popuptext5 {top: 4%; float: right;}

.popuptext6 {top: 20%;}

.popuptext7 {top: 25%; float: right;}

.popuptext8 {top: 10%;}

.popuptext9 {top: 20%; float: right;}

.popuptext10 {top: 20%;}


/*-----z-index------*/

.cloud {z-index: 50;}

.followers1, .followers2 {z-index: 50;}

.house_row img {z-index: 50;}

.house_row2 img{z-index: 100;}

.cloud_boat {z-index: 20;}

.mountain img:nth-child(1){z-index: 10;}

.mountain img:nth-child(2){z-index: 100;}

.thunderclouds img {z-index: 80;}

.trees_row1 img:nth-child(1), .trees_row2 img:nth-child(1) {z-index: 100;}

.trees_row1 img:nth-child(2) {z-index: 0;}

.town img:nth-child(1){z-index: 100;}

.town img:nth-child(2){z-index: 0;}

/*-------the cloud-----*/

.cloud {
	margin-left: -100px;
	top: 35%;
	left: 50%;
	position: fixed;
    width: 200px;
}

/*---------------------------images in the background--------------------------*/



.clouds_regular img, .cloud_hail img, .hail img, .cloud_worried img, .house_row img, .followers1 img, .followers2 img, .house_row2 img, .firsttown img, .shore img, .waves img, .mountain img, .thunderclouds img, .stones img, .bushes img, .trees_row1 img, .trees_row2 img, .cloud_stretch img, .trees_part1 img, .trees_part2 img, .cottage img, .town img, .cloud_boat img, .secondtown img, .gathering img, .thirdtown img, .birdonbranch img{
	position: absolute;
}


/*----bird-----*/
.bird {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 10%;
}


/*----regular clouds----*/

.clouds_regular img:nth-child(1){top: 50%;right: 0; width: 40%;}

.clouds_regular img:nth-child(2){top: 25%;left: 0;opacity: 0.5;width: 40%;}

.clouds_regular img:nth-child(3){top: 26%;right: 0; width: 40%;}

.clouds_regular img:nth-child(4){top: 23%;left: 10%; width: 40%;}

.clouds_regular img:nth-child(5){top: 55%;right: 0; opacity: 0.5; width: 40%;}

/*----followers----*/
.followers1 {margin-top: 40%;}

.followers1 img:nth-child(1){top: 5%;left: 25%; width: 20%;}

.followers1 img:nth-child(2){top: 0%;right: 25%; width: 20%;}

/*----clouds hail----*/

.cloud_hail img:nth-child(1) {top: 10%;left: 60%; width: 40%;}

.cloud_hail img:nth-child(2) {top: 25%;left: 20%; width: 40%;}

.cloud_hail img:nth-child(3) {top: 5%;left: 40%; width: 40%;}

/*-------Hail---------*/

.hail img:nth-child(1) {top: -65%;left: -250%; width: 3500px; height: 3500px;}

/*---------clouds worried-------*/

.cloud_worried img:nth-child(1) {top: 55%;left: 60%; width: 40%;}

.cloud_worried img:nth-child(2) {top: 40%;left: 5%; width: 40%;}

.cloud_worried img:nth-child(3) {top: 20%;left: -40%; width: 40%;}

.cloud_worried img:nth-child(4) {
    transform: scale(0.6);
	top: 55%;
	left: 5%;
}

/*---House row---*/

.house_row img:nth-child(1) {bottom: 17%;left: 0;width: 100%;}

/*--*/

.house_row2 img:nth-child(1) {top: -15%;left: 0;width: 100%;}

.house_row2 img:nth-child(2) {top: -15%;left: 0;width: 10%;}

.house_row2 img:nth-child(3) {top: -15%;left: 0;width: 10%;}


/*----First town----*/
.firsttown img:nth-child(1){top:17%;right:-1%;width:100%;}

.firsttown img:nth-child(2){top:20%; right:10%; width: 15%;}

.firsttown img:nth-child(3){top:54%; right: 10%; width: 15%;}

.firsttown img:nth-child(4){top:63%; right:49%; width: 24%;}

.firsttown img:nth-child(5){top:46%; right:75%; width: 15%;}

.firsttown img:nth-child(6){top:16%; right:60%; width: 13%;}

.firsttown img:nth-child(7){top:23%; left: 17%; width: 15%;}

.firsttown img:nth-child(8){top:28%; left: 34%;width: 10%;}

.firsttown img:nth-child(9){top:19%; right:38%; width: 12%;}

.firsttown img:nth-child(10){top:20%; right:25%; width: 15%;}

.firsttown img:nth-child(11){top:38%;left:80%; width: 20%;}

.firsttown img:nth-child(12){top:42%; right:50%; width: 10%;}

.firsttown img:nth-child(13){top:38%;left:70%; width: 10%;}


/*-----shore-----*/

.shore img:nth-child(1) {bottom: 5%;left: -30%; width: 1500px; height: 3500px;}

.shore img:nth-child(2){bottom: 0%;left: -30%; width: 1500px; height: 3500px;}


/*--Cloud boat--*/

.cloud_boat img {width: 30%;}

.cloud_boat img:nth-child(1){margin-top: -15%; left: 10%;}
.cloud_boat img:nth-child(2){margin-top: -15%; left: 47%;}
.cloud_boat img:nth-child(3){margin-top: -15%; left: 12%; padding-top: 13%;}
.cloud_boat img:nth-child(4){margin-top: -15%; left: 12%; padding-top: 13%;}
.cloud_boat img:nth-child(5){margin-top: -15%; right: 15%; padding-top: 5%;}
.cloud_boat img:nth-child(6){margin-top: -15%; right: 7%;}
.cloud_boat img:nth-child(7){margin-top: -15%; right: 25%; padding-top: 14%;}
.cloud_boat img:nth-child(8){margin-top: -15%; right: 12%; padding-top: 15%;}
.cloud_boat img:nth-child(9){margin-top: -15%; right: 2%; padding-top: 13%;}
.cloud_boat img:nth-child(10){margin-top: -15%; left: 23%; padding-top: 20%;}
.cloud_boat img:nth-child(11){margin-top: -15%; left: 3%; padding-top: 22%;}
.cloud_boat img:nth-child(12) {margin-top: -15%;left: 15%;}


/*-----Waves-----*/

.waves img:nth-child(1) {top: 25%;left: 5%;width: 70%;}

.waves img:nth-child(2) {top: 4%;left: 5%;width: 70%;}

.waves img:nth-child(3) {top: 40%;left: 0;width: 70%;}

.waves img:nth-child(4) {top: 50%;right: 0;width: 70%;}

.waves img:nth-child(5) {top: 5%;right: 0;width: 70%;}

.waves img:nth-child(6) {top: 18%;right: 0;width: 70%;}

.waves img:nth-child(7) {top: 35%;right: 0;width: 70%;}

.waves img:nth-child(8) {top: 60%; left: 0; width: 70%;}

/*-------mountain------*/

.mountain img:nth-child(1){bottom: -7%;left: 0;width: 100%;}

.mountain img:nth-child(2){bottom: -7%;left: 0;width: 100%;}

.thunderclouds img:nth-child(1) {bottom: 2%; right: 45%; width: 15%;}

.thunderclouds img:nth-child(2) {bottom: 2%; left: 15%; width: 15%;}

.thunderclouds img:nth-child(3) {bottom: 2%; right: 20%; width: 15%;}

/*-------ground-------*/

.bushes img:nth-child(1){top: 32%;left: 10%;width: 20%;}
.bushes img:nth-child(2){top: 52%;left: 80%;width: 20%;}
.bushes img:nth-child(4){top:50%; left:-10%;}
.stones img:nth-child(1){top: 60%;left: 95%;width: 5%;}
.stones img:nth-child(2){top: 25%;left: 80%;width: 5%;}
.stones img:nth-child(3){top: 20%;left: 30%;width: 7%;}
.stones img:nth-child(4){top: 70%;left: 75%;width: 15%;}
.stones img:nth-child(5){top: 30%;left: 60%;width: 17%;}
.stones img:nth-child(6){top: 45%;left: 1%;width: 5%;}
.stones img:nth-child(7){top: 65%;left: 8%;width: 8%;}
.bushes img:nth-child(3){top: 5%;left: 40%;}
.stones img:nth-child(8){top:45%;left:46%;width: 15%;}
/*--trees together--*/

.trees_row1 img:nth-child(1) {bottom: -1%;}

.trees_row1 img:nth-child(2) {bottom: 0;}

.trees_row2 img:nth-child(1) {top: -11%;}

/*---cloud stretch---*/

.cloud_stretch img:nth-child(1) {top: 18%;left: 10%; width: 40%;}

.cloud_stretch img:nth-child(2) {top: 16%;left: 65%; width: 40%;}

.cloud_stretch img:nth-child(3) {top: 50%;left: 50%; width: 40%;}

.cloud_stretch img:nth-child(4) {top: 80%;left: 27%; width: 40%;}


/*---------trees-------*/

.trees_part1 img {width: 20%}

.trees_part1 img:nth-child(1) {top: 5%;left: 0%; width: 40%;}

.trees_part1 img:nth-child(2) {top: 37%;left: 10%;}

.trees_part1 img:nth-child(3) {top: 13%;left: 7%;}

.trees_part1 img:nth-child(4) {top: 70%;left: 5%;}

.trees_part1 img:nth-child(5) {top: 9%;left: 71%;}

.trees_part1 img:nth-child(6) {top: 40%;left: 23%;}

.trees_part1 img:nth-child(7) {top: 25%;right: 0;}

.trees_part1 img:nth-child(8) {top: 83%;right: 15%;}

.trees_part1 img:nth-child(9) {top: 43%;left: 62%;}

.trees_part1 img:nth-child(10) {top: 73%;left: 13%;}

.trees_part1 img:nth-child(11) {top: 63%;right: 0; width: 40%;}

.trees_part1 img:nth-child(12) {top: 85%;right: 10%;}

.trees_part1 img:nth-child(13) {top: 43%;left: 15%;}

.trees_part1 img:nth-child(14) {top: 15%;right: 15%;}

.trees_part1 img:nth-child(15) {top: 74%;left: 0%;}

.trees_part1 img:nth-child(16) {top: 45%;left: 69%;}

/*----*/

.secondtown img:nth-child(1){top: 7%; right:31%; width: 15%;}

.secondtown img:nth-child(2){top: 6.88%; right: 13%; width: 15%;}

.secondtown img:nth-child(3){top:17%; right:0; width: 90%;}

.secondtown img:nth-child(4){top: 2%; left: 19%; width: 30%;}

.secondtown img:nth-child(5){bottom: 17%; left:10%; width: 30%;}

.secondtown img:nth-child(6){top:40%; left: 17%; width: 15%;}

.secondtown img:nth-child(7){top:27%; left: 44%;width: 15%; z-index: 1;}

.secondtown img:nth-child(8){top:42%; right: 10%;width: 25%;}

.secondtown img:nth-child(9){top:62%; right:13%; width: 15%;}

.secondtown img:nth-child(10){top:48.5%;left: 45%; width: 15%;}

.secondtown img:nth-child(11){top:62%; right: 25%; width: 12%;}

.secondtown img:nth-child(12){top: 24%; right: 49%; width: 15%;}
/*-----gathering----*/

.gathering img {top: -9%; height: 20%; width: 100%;}

/*
.gahering_animation img:nth-child(1){top:0;}
.gahering_animation img:nth-child(2){top:0;}
.gahering_animation img:nth-child(3){top:0;}
.gahering_animation img:nth-child(4){top:0;}
.gahering_animation img:nth-child(5){top:0;}
.gahering_animation img:nth-child(6){top:0;}
*/

/*-------clouds from gathering---------*/

.followers2 img:nth-child(1){top: 0;left: 25%; width: 20%;}

.followers2 img:nth-child(2){top: 0;right: 25%; width: 20%;}

/*----thirdtown----*/

.thirdtown img:nth-child(1){top: 5%;right: 67%; width: 15%;}

.thirdtown img:nth-child(2){top: 5%;right: 50%; width: 15%;}

.thirdtown img:nth-child(3){top: 40%; right: 10%; width:15%;}

.thirdtown img:nth-child(4){top:25%; right: 33%; width:15%;}

.thirdtown img:nth-child(5){top:25%; right: 45%; width:15%;}

.thirdtown img:nth-child(6){top: 40%; left: 15%; width:15%;}

.thirdtown img:nth-child(7){top: 20%; left: 5%; width:15%;}

.thirdtown img:nth-child(8){top: 20%; right: 5%; width:15%;}

.thirdtown img:nth-child(9){top: 22.3%; left: 0; width: 10%;}

.thirdtown img:nth-child(10){top: 30%; right: 20%; width: 10%;}

.thirdtown img:nth-child(11){top: 5%; right: 23%; width: 10%;}

/*-------town------*/

.town img:nth-child(1){bottom: 0;width: 100%;}

.town img:nth-child(2){bottom: 6%;left: 0;width: 100%;}

/*------------------------background colors----------------------*/

.part:nth-child(1){
	width: 100%;
	height: 1700px;
	background-color: #4accc2;
	background-image: -webkit-linear-gradient(bottom, rgb(24, 113, 122) 0, rgb(74, 204, 194) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(24, 113, 122) 0, rgb(74, 204, 194) 100%);
	background-image: -o-linear-gradient(bottom, rgb(24, 113, 122) 0, rgb(74, 204, 194) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(24, 113, 122) 0, rgb(74, 204, 194) 100%);
	background-image: linear-gradient(bottom, rgb(24, 113, 122) 0, rgb(74, 204, 194) 100%);
	overflow: hidden;
}

.part:nth-child(2) {width: 100%;height: 2000px;background-color: #18717a; overflow: hidden;}

.part:nth-child(3) {width: 100%;height: 1200px;background-color: #33a89d;}

.part:nth-child(4) {width: 100%;height: 800px;background-color: #33a89d;overflow: hidden;}

.part:nth-child(5) {width: 100%;height: 3000px;background-color: #18717a;}

.part:nth-child(6){width: 100%;height: 1500px;background-color: #31aa9b;overflow: hidden;}

.part:nth-child(7) {width: 100%;height: 1500px;background-color: #18717a;}

.part:nth-child(8) {width: 100%;height: 1200px;background-color: #18717a ;}

.part:nth-child(9) {width: 100%;height: 700px;background-color: #31aa9b;}

.part:nth-child(10) {width: 100%;height: 1500px; background-color: #31aa9b;}

.part:nth-child(11) {width: 100%;height: 600px;background-color: #31aa9b; }

/*----text end-----*/

.part:nth-child(11) h2 {
    text-align: center;
	padding: 20px;
	margin-top: 0;
}

.part:nth-child(11) p {
    margin: auto;
    text-align: center;
    width: 60%;
}

.part:nth-child(11) ul {
    list-style-type: none;
    text-align: center;
    margin-top: 150px
}

article {
	background-color: #31aa9b;
	padding: 10%;
	z-index: 999;
}


/*-----footer------*/


footer {
	height: 300px;
	background-color: #31aa9b;
    position: relative;
}

footer div div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

footer h3 {
    margin: auto;
    text-align: center;
}

footer p {
	margin: auto;
	text-align: center;
  width: 60%; 
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
}

footer a {
    text-decoration: none;
    padding: 10px;
}

.birdonbranch {position: absolute; bottom: 10%; right: 0; width: 35%; }

/*------icons------*/

@font-face {
    font-family: 'si';
    src: url('icons/socicon.eot');
    src: url('icons/socicon.eot?#iefix') format('embedded-opentype'),
         url('icons/socicon.woff') format('woff'),
         url('icons/socicon.ttf') format('truetype'),
         url('icons/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;    
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url("icons/socicon.svg") format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: none;
}

.soc-icon-last{margin:0 !important;}
.soc-twitter {background-color: #ea9c68;}
.soc-twitter:before {content:'a';}
.soc-facebook {background-color: #ea9c68;}
.soc-facebook:before {content:'b';}

@media screen and (max-width: 480px){
    .wrap {width: 320px;}
   
    .part:nth-child(1) {height: 711px;}
    
    .part:nth-child(2) {height: 711px;}
    
    .part:nth-child(3) {height: 1067px;}
    
    .part:nth-child(4) {height: 1067px;}
    
    .part:nth-child(5) {height: 533px;}
    
    .part:nth-child(6) {height: 533px;}
    
    .part:nth-child(7) {height: 427px;}
    
    .part:nth-child(8) {height: 533px;}
    
    .part:nth-child(9) {height: 533px;}
    
    .part:nth-child(10) {height: 213px;}
    
    footer {height: 107px;}
    
    .cloud {
        width: 71px;
        top: 110px;
        margin-left: -36px; top: 
    }
    
    h1 {font-size: 1em}
}