body {
	margin: 0;
}

.wrap {
	margin: 0 auto;
	width: 900px;
	height: 100%;
	display: block;
	position: relative;
	
}

h1{
	margin:0 auto;
	width: 100px;
	text-align: center;	
}

/*-------the cloud-----*/

.cloud {
	margin: 0 auto;
	margin-left: -50px;
	top: 300px;
	left: 50%;
	position: fixed;
	z-index: 15;
}



/*---------------------------images in the background--------------------------*/


/*----regular clouds----*/
.clouds_regular img:nth-child(1){
	position: absolute;
	top: 50%;
	left: 70%; 
	display: block;
}

.clouds_regular img:nth-child(2){
	position: absolute;
	top: 400px;
	left: 200px;
	height: 200px;
	opacity: 0.5;
}

.clouds_regular img:nth-child(3){
	position: absolute;
	top: 20%;
	left: 60%;
}

.clouds_regular img:nth-child(4){
	position: absolute;
	top: 20%;
	left: 10%;
}

/*----clouds hail----*/

.cloud_hail img:nth-child(1) {
	position: absolute;
	top: 10%;
	left: 60%;
}

.cloud_hail img:nth-child(2) {
	position: absolute;
	top: 25%;
	left: 20%;
}
.cloud_hail img:nth-child(3) {
	position: absolute;
	top: 5%;
	left: 40%;
}

/*---------trees-------*/

.trees_part1 img:nth-child(1) {
	position: absolute;
	top: 15%;
	left: 0%;
}
.trees_part1 img:nth-child(2) {
	position: absolute;
	top: 40%;
	left: 50%;
}
.trees_part1 img:nth-child(3) {
    position: absolute;
    top: 20%;
    left: 7%;
}
.trees_part1 img:nth-child(4) {
    position: absolute;
    top: 70%;
    left: 5%;
}
.trees_part1 img:nth-child(5) {
    position: absolute;
    top: 5%;
    left: 75%;
}
.trees_part1 img:nth-child(6) {
    position: absolute;
    top: 50%;
    left: 45%;
}
.trees_part1 img:nth-child(7) {
    position: absolute;
    top: 25%;
    left: 79%;
}
.trees_part1 img:nth-child(8) {
    position: absolute;
    top: 75%;
    left: 30%;
}
.trees_part1 img:nth-child(9) {
    position: absolute;
    top: 45%;
    left: 62%;
}
.trees_part1 img:nth-child(10) {
    position: absolute;
    top: 60%;
    left: 79%;
}
.trees_part1 img:nth-child(11) {
    position: absolute;
    top: 63%;
    left: 75%;
}
.trees_part1 img:nth-child(12) {
    position: absolute;
    top: 85%;
    left: 20%;
}
.trees_part1 img:nth-child(13) {
    position: absolute;
    top: 40%;
    left: 10%;
}

/*-------mountain------*/

.mountain img:nth-child(1){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

/*-------Majas trees-----------*/

.trees_part2 img:nth-child(1){
	position:absolute;
	top:2%;
}

.trees_part2 img:nth-child(2){
	position:absolute;
	top:65%;
	left:80%;
}

.trees_part2 img:nth-child(3){
	position:absolute;
	top:2%;
	left:80%;
}

.trees_part2 img:nth-child(4){
	position:absolute;
	top:65%;
	
}

/*-------Majas houses-----*/

.cottage img:nth-child(1){
	position:absolute;
	top:40%;
	left:80%;
	
}

.cottage img:nth-child(2){
	position:absolute;
	top:40%;
	
}

.cottage img:nth-child(3){
	position:absolute;
	top:35%;
	
}

.cottage img:nth-child(4){
	position:absolute;
	top:35%;
	
}


/*-------town------*/

.town img:nth-child(1){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}

.town img:nth-child(2){
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

/*------------------------background colors----------------------*/
.part:nth-child(1){
	width: 100%;
	height: 2000px;
	background-image: -webkit-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -o-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
	background-image: linear-gradient(bottom, rgb(53, 92, 104) 0, rgb(107, 185, 209) 100%);
}

.part:nth-child(2) {
    width: 100%;
    height: 2000px;
    background-color: #355C68 ;
    background-image: -webkit-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -moz-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -o-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: -ms-linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
    background-image: linear-gradient(bottom, rgb(214, 191, 128) 0, rgb(53, 92, 104) 30%);
}

.part:nth-child(3) {
	width: 100%;
	height: 3000px;
	background-color: #d6bf80;
	background-image: -webkit-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -moz-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -o-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: -ms-linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
	background-image: linear-gradient(bottom, rgb(7, 66, 95) 10%, rgb(214, 191, 128) 60%);
}

.part:nth-child(4) {
	width: 100%;
	height: 600px;
	background-color: rgb(7, 66, 95);
}

.part:nth-child(5) {
	width: 100%;
	height: 600px;
	background-color:#6BB9D1;
}

.part:nth-child(6){
	width: 100%;
	height: 900px;
	background-color: #d6bf80;
}

.part:nth-child(7) {
	width: 100%;
	height: 2000px;
	background-color: #168f1e;
}

.part:nth-child(8) {
	width: 100%;
	height: 900px;
	background-color: #865009;
}

.part:nth-child(9) {
	width: 100%;
	height: 600px;
	background-color: #83d178;
}

.part:nth-child(10) {
	width: 100%;
	height: 600px;
	background-color: #6BB9D1;
}

.part:nth-child(11) {
	width: 100%;
	height: 600px;
	background-color: #6BB9D1;
}

footer {
	width: 100%;
	height: 50px;
	background-color: green;	
}

/*----text end-----*/

.part:nth-child(11) article {
	margin: 0 auto;
	width: 600px;
	padding: 20px;
	
}

.part:nth-child(11) h2 {
	margin:0 auto;
	width: 100px;
}

/*-----footer------*/

footer p {
	margin: 0 auto;
	text-align: center;
}